:root {
  --base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --primary: #0099ff;
  --secondary: #1c5480;
  --black: #000000;
  --white: #ffffff;
  --mobile: 520px;
}

html,
body {
  background-image: radial-gradient(var(--primary) 1px, transparent 1px), radial-gradient(var(--primary) 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  padding: 0;
  margin: 0;
  font-family: var(--base);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div {
  display: grid;
  height: 100vh;
  place-items: center;
}

main {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
  height: 100%;
  position: relative;
  width: 100%;
}

@media (min-width: 520px) {
  main {
    height: 90vh;
    width: var(--mobile);
  }
}