.topBar {
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: 49px;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
}

.content {
    padding-top: 49px;
}

.homeDiv {
    height: 125vh;
    place-items: inherit;
}

.subtitle {
    font-size: 24px;
    font-weight: 800;
}

.botBar {
    bottom: 0;
    border-top: 1px solid #ccc;
    height: 49px;
    position: sticky;
    width: 100%;
}